.hero {
  position: relative;
  margin: 0;
}

.hero__title {
  position: absolute;
  top: 20px;
  padding: 0 5.33%;
  font-size: 24px;
  line-height: 131%;
  letter-spacing: -0.05em;
  font-weight: bold;
  font-style: italic;
  z-index: 1;
}

.hero-cover {
  position: relative;
  grid-column: 1 / -1;
}

.hero-cover__image {
  width: 100%;
  height: auto;
}

.hero-cover__text {
  position: absolute;
  font-weight: 200;
  bottom: 20px;
  padding: 0 5.33%;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
  }

  .hero__title,
  .hero-cover__text {
    padding: 0 7.53%;
  }

  .hero-cover {
    grid-column: 4 / -4;
  }
}
